.application{
    max-width: 1140px;
    margin: 0 auto;

}
.devices{
    max-width: 1140px;
    margin: 0 auto;
    // flex-direction: column;
    // justify-content: space-between;
    // align-items: stretch;
}