@use './reset';
@use '../components/components';
@use './home';
@use './about';
@use './case-studys';
@use './contact';
@use './products';
@use './system';
@use './application';
@use './device';
@use "./sitemap";

body{
    background-color: #ffff;
    
    height: 100%;
    width: 100%;
    
}
*{
    .container{
        max-width: 1170px;
        margin: 0 auto;
    }
    .trade{
        font-size: 14px;
    }
}

// .main{ 
//     max-width: 1170px;
//     margin: 0 auto;
// }

